* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background-color: #f8f9fa;
}

.header {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: #1c1d1e;
  z-index: 20;
}

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6vh;
  width: 100vw;
}

.logo-container {
  text-decoration: none;
  color: #f8f9fa;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Montserrat";
}

@media (min-width: 0px) {
  .header {
    position: static;
  }
}

@media (min-width: 600px) {
  .header {
    position: sticky;
    top: 0;
    left: 0;
  }
}

@media (min-width: 1000px) {
  .main {
    margin-top: 12rem;
  }

  .searchbar {
    width: 60%;
    margin-left: 10px;
    margin-top: 0;
  }

  .image-details-page {
    margin: 0 2rem;
    margin-top: -10rem;
  }
}

@media (min-width: 1400px) {
  .main {
    width: 70vw;
  }
  .searchbar {
    width: 50%;
    margin-left: 0;
    align-self: center;
    margin-top: 0;
  }
}
