* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: sans-serif;
  height: 100vh;
  background-color: #f8f9fa;
}

.header {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 8vh;
  background-color: #1c1d1e;
  z-index: 20;
}

.main {
  display: flex;
  justify-content: center;
}

.logo-container {
  text-decoration: none;
  color: #f8f9fa;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Montserrat";
}

.image-container {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 10px;
}

.image-container:hover {
  cursor: pointer;
}

.image {
  max-width: 100%;
}

.masonry-wrapper {
  width: 100vw;
}

.masonry {
  display: flex;
  width: 100%;
}
.masonry-column {
  padding-left: 10px;
  background-clip: padding-box;
}

.masonry-column:first-child {
  padding-left: 0;
}

.blurhash {
  margin-bottom: 10px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
}

.overlay-background {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-user {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: left;
  align-items: end;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}

.userinfo-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  justify-content: left;
}

.userinfo-profile-photo {
  border-radius: 100%;
}

.overlay-profile-photo {
  height: 3.2rem;
}

.topbar-profile-photo {
  height: 4.2rem;
}

.skeleton-profile-photo {
  border-radius: 100%;
  outline: 1px solid #adb5bd;
}

.overlay-skeleton-profile-photo {
  padding: 1.6rem;
}
.topbar-skeleton-profile-photo {
  padding: 2.1rem;
}

.userinfo-username:link,
.userinfo-username:active,
.userinfo-username:visited {
  text-decoration: none;
}

.overlay-username:link,
.overlay-username:active,
.overlay-username:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #e9ecef;
}

.topbar-username:link,
.topbar-username:active,
.topbar-username:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #343a40;
}

.userinfo-username:hover {
  cursor: pointer;
}

.overlay-username:hover {
  color: white;
}

.topbar-username:hover {
  color: black;
}

.full-download-button {
  background-color: #f1f3f5;
  border: 0;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  color: #333333;
  border: 1px solid #adb5bd;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  font-family: "Montserrat, sans-serif";
  transition: all 0.2s;
}

.download-icon {
  margin-top: -4px;
}

.overlay-download-button {
  background-color: transparent;
  border: none;
}

.overlay-download-button:hover {
  cursor: pointer;
  color: white;
  filter: brightness(120%);
}

.full-download-button:hover {
  cursor: pointer;
  filter: brightness(98%);
}

.userinfo-profile-photo:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.topbar-profile-photo:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.overlay-username:hover,
.overlay-profile-photo:hover {
  transition: all 200ms;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  border-radius: 10px;
  width: 70%;
  height: 90%;
  padding: 2rem 2rem 4rem 2rem;
  background-color: #e9ecef;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.modal-image {
  align-self: center;
}

.modal-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-modal-close {
  border: none;
  background-color: transparent;
  margin-right: 2rem;
}

.modal-bottombar {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: end;
  align-items: end;
  padding-right: 5rem;
}

.modal-btn-direction {
  background-color: transparent;
  color: #adb5bd;
  border: none;
  font-size: 60px;
  position: fixed;
}

.modal-btn-direction:hover {
  cursor: pointer;
  color: #e9ecef;
}

.modal-btn-left {
  left: 8%;
}

.modal-btn-right {
  right: 8%;
}

@media (min-width: 0px) {
  .header {
    position: static;
  }
}

@media (min-width: 600px) {
  .header {
    position: sticky;
    top: 0;
    left: 0;
  }
}

@media (min-width: 1000px) {
  .header {
    margin-bottom: 20rem;
  }
}

@media (min-width: 1400px) {
  .masonry-wrapper {
    width: 70vw;
  }
}
